@media(max-width:768px){
    
    .posts{
         width:100%
    }
     .posts__left>h5{
          font-size: 16px;
          font-weight: 500;
     }
     .posts__body--img{

          height: 350px;
          object-fit: fill;
                 
     }
     .post__wrapper{

          width: 100%;
     }
     .bottom__left>.MuiSvgIcon-root{
          margin-left: 10px;
          font-size: 21px;
     }
    
}
@media(min-width:769px){
     
     .posts{
          margin-left: 20%;
     }
     .posts__body--img{

          width: 100%;
          height: 450px;
          object-fit:initial;
       
     }

}
.post{
     margin: 10px 0px;
     height: 100%;
     background-color: white;
     border: 1px solid rgb(230, 230, 230);
     width: 100%;
}
.posts__header{
     display: flex;
     justify-content: space-between;
     padding: 10px 5px;
}
.posts__left{
       
       display: flex;
       align-items: center;
       justify-content: space-around;
       
}
.bottom__left>span{
     display:flex;
     flex-direction: column;
     align-items: center;
}
.post__headerLink{
     text-decoration: none;
     color: black;
}
.posts__left>h5{
     margin-left: 10px;

}
.posts__body{

     display:flex;
     flex-direction: column;
     width: 100%;
}

.posts__bottom{
     display: flex;
     
     justify-content: space-between;
     margin: 10px 0px;
}
.bottom__left{
     display:flex;
     
}
.bottom__left>.MuiSvgIcon-root{
     margin-left: 10px;  
}
.bottom__left>span {
     margin-left: 10px;
}
.post__comment{
       display: flex;
       border: 1px solid rgb(231, 231, 231);
       padding: 10px 5px;
       margin-top: 10px
}
.post__comment>input{
     outline: none;
     border: none;
     width: 90%;
}
.post__comment>Button{
         
     font-size: 12px !important;
     font-weight: 600 !important;
     
}
.all__comments{
     display: flex;
     align-items: center;
     margin-top: 8px;
     margin-left: 5px;
     width: 90%;
}
.all__comments>p{

     font-size: 17px;
     font-weight: 500;
     margin: 0px;
     margin-right: 10px;
}
.posts__caption{

     margin: 5px 5px;
     
}
.post__nopost{
     margin-top:150px;
     color:black;
     width:fit-content;
     
}